<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="flex justify-center items-center h-screen">
      <ul class="text-lg">
        Linkovi na stranice za xss i sensitive data exposure:
        <li>
          <a class="cursor-pointer text-blue-600 underline" href="/xss">Xss</a>
        </li>
        <li>
          <a class="cursor-pointer text-blue-600 underline" href="/sde"
            >Sensitive data exposure</a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
